.box {
  background-color: red;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: red;
}

h1:hover {
  color: blueviolet;
}

span {
  background-color: green;
  color: white;
}

.square {
  height: 100px;
  width: 100px;
  background-color: green;
  margin: auto;
  border-radius: 50%;
}

.large-screen {
  display: none;
}

.clickButton {
  background-color: red;
}

.clickButton:hover {
  background-color: green;
}

.first::before {
  content: "I am  pseudo element ";
}

@media (min-width: 700px) {
  .large-screen {
    display: block;
  }
}
