.large-screen {
  display: none;
}

@media (min-width: 700px) {
  .large-screen {
    display: block;
  }
}

.clickButton {
  background-color: red;
}

.clickButton:hover {
  background-color: green;
}

.sa {
  color: green;
}
