div {
  color: red;
}

/* tagName {
  css-properties: value;
} */

p {
  color: white;
  background-color: black;
}

span {
  background-color: blueviolet;
}

.innerdiv {
  color: black;
}

#fourthdiv {
  color: yellowgreen;
}
